<div class="animated fadeIn">
  <div class="row col s12 offset-s2">
    <h3>About us</h3>
    <p>Pellentesque id libero ligula. Duis sagittis velit non risus interdum, eu sagittis urna sodales.
      Nam dapibus enim quis velit consequat facilisis. Donec tincidunt enim purus, sed ultrices tellus varius quis.
       Aliquam erat volutpat. Aliquam nec turpis urna. Etiam lectus massa, maximus tristique vestibulum vel, pulvinar vitae ante.
       Phasellus ligula quam, gravida eget maximus id, mattis eget lacus. Morbi auctor erat sed magna condimentum, a finibus justo finibus.
       Pellentesque faucibus lacinia lectus sed sollicitudin. Nullam elementum semper tincidunt. Fusce sodales sem in turpis ultrices, vel pretium risus porttitor.
    </p>
    <p>Mauris bibendum libero sed turpis consequat tempor.
      Phasellus neque orci, suscipit ac ornare vel, ultricies quis metus. Vestibulum vel lacinia nibh.
      Suspendisse id dolor tincidunt dolor accumsan volutpat. Sed faucibus libero at dui tempor malesuada vel et orci.
      Maecenas eget turpis et orci blandit fringilla. Donec volutpat eros sem, eget sodales sem iaculis ac. Vivamus quis orci et mauris blandit finibus ac et justo.
      Nam id est faucibus dui malesuada commodo ut nec ante. Proin tincidunt nunc ac purus sodales, id hendrerit lectus convallis.
    </p>
</div>
